# On Mac
# 1. install brew packages
#   - [direnv](https://direnv.net/docs/installation.html)
# ```
#   brew install readline xz direnv
# ```
# 2. [enable environment managers in your shell]() with
# ```
#   eval "$(direnv hook bash)"  # or replace bash with zsh
# ```
# 4. Activate the `direnv` environment by changing directories to this project root directory and executing
# ```
# direnv allow
# ```

dotenv

export CLOUDSDK_PYTHON=${PYTHON3_HOME:-python3}

export VIRTUAL_ENV=./venv
layout python-venv ${PYTHON3_HOME:-python3}

PATH_add "./venv/bin"
